/*
CSS Rules
Syntax ;
Selector {
	property: value;
	}

/*h1 {
	color: yellow !important;
	}

*/
/*1. UNIVERSAL SELECTOR (LOWEST)
change the font of every elements in HTML 
*/
* {
	font-family: "Courier New", monospace;
font-size: 20px;}


/*the * symbol is a "universal selector" and is used tto target ALL elements*/
/*The value "courier new" is used as the primary font and the value "monospace" is used as a secondary font when a browser ios unabble to use the primary font*/
/*the value 20px refers to 20 pixels in size*/

body {
	background-color: skyblue;
}
/*ATTRIBUTE SELECTOR*/
/*attribuite selector only works based on the exact attribute syntax provided in the HTML ta.
it is also case sensitive*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*CLASS SELECTOR*/
/*the class attribute is used to target elements with similar styling. this is a good approach to use for elements that have similar styles across the whole application.*/

.offering-item {

	text-transform: uppercase;
}
/*
-the text-transform property changes font to a certain case
-the value uppercase changes text to all capitalized letters*/

/*5.ID SELECTOR*/
#zuitt-moto {
	letter-spacing: 5px;
}
/*the id attribute is used to target elements with unique styling. this is a good approach to use for eelements that should have their own style across the whole application
*/
/*ID Selector has the highest priority*/

/*CSS SELECTOR COMBINATORS*/

/*ADJACENT SIBLING SELECTOR*/

/*Syntax:
	sibling_element + target_element
	property*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*GENERAL SIBLING SELECTOR

sibling_element ~ target element
{property: value */

h2 ~ a, a{
	
}

/*CHILD SELECTOR*/
/*SYNTAX	
	selector1 > selector2 {
	style: properties;*/

body > section > form > label {
	color: rgb(0,0,128);

}


/*DESCENDANT SELECTORS*/
/*SYNTAX
selector 1 selector 
{style: properties;
}
*/

#bootcamp-learning-list {
	color: #075966;
}

/*WHOLE HTML*/
html {
		scroll-behavior: smooth;
}

/*NAVIGATION BAR*/
nav {
	background-color: white;
}

/*Selector : hover pseudo class*/
/*changes the style when hovered over*/
a:hover {
	background-color: #b4d6de;
}

/*DIV for the navigation Bar*/
div {
	display: inline-block;
	float: right;
}

/*Landing Section*/
section {
	height: 100vh;
	text-align: center;
}


h2 {
	font-size: 1.5rem;
}
/*Remove numbers form list*/
ol {
	list-style-type: none;
}

/*Register section/form*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}