#p-3 {
	color: yellow;
	font-family: verdana;
}

body ~ p, p{
	font-family: verdana;
	font-size: 15px;
}

h1 { font-family: verdana;
	font-size:40px }
#h2-1	{ text-transform:uppercase;
		font-family:verdana;
		font-size:20px }


#h3-1 { font-family:verdana
 }

.li-1 { background-color:yellowgreen;
	font-family:verdana;
	 }

img {
		height: 100px;
		width: 100px;
		border-radius: 50px;
		position: relative;
}
#tools {
	font-family: verdana;
}
li + h4 {
	font-family: verdana;
}
.li-2 {

	border-style:solid;
	 	border-color:blue; 
	 	border-width:1px;
}
#other-things {
	font-family: verdana;
}
img + ul { list-style-type: none;
	letter-spacing: 7px;
font-size: 17px;
font-family: verdana;}




ul + p {text-align: center;
font-family: verdana}